@model IEnumerable<TefteriLoginTest.Models.FriendDetails>

@using TefteriLoginTest.Models;

@{
    ViewBag.Title = "FriendDetails";
}
<main role="main" class="container">
    <div style="font-family:Arial"></div>
    <h2>Friend Details</h2>
    
    <p class="lead"
        <div>
            @foreach (var item in Model)
    {

<ul>
    <li>
        @item.ID
        <span>-</span>

        @item.Name
        <span>-</span>

        @item.Gender
        <span>-</span>

        @item.City
    
    </li>
    </ul>

}
            @Html.ActionLink("Back to List", "Friends", null, new { @class = "btn btn-default"})

</p>
        </div>
  

</main>


